/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/panel.js
/storage/*.key
/vendor
package-lock.json
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
